#signup{
    padding:20px;
    height: fit-content;
    border-radius: 5px;
    background-color: blanchedalmond;
    border: 1px solid black;
    
}

.signup-input-field{
    border-radius: 3px;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid black;

}

.signup-input-fields{
    margin-bottom: 10px;
    height: 100%;
    border: 1px solid black;

}

.logo{
    text-align: center;
}
.acc_signin{
    display:flex
}
