@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

/* General Styles */
.main-content {
    margin-left: 75px;
    min-height: 100vh;
}

/* Navbar */
.navItem_lg {
    text-decoration: none;
    position: relative;
    color: black;
}

.navItem_lg::after {
    content: ' ';
    position: absolute;
    background-color: black;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: -1px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navItem_lg:hover::after {
    transform: scaleX(1);
}

/* Buttons */
#login_signup_button_lg {
    color: black;
    font-family: "Roboto";
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
    font-size: 13px;
    border: 1px solid black;
    transition: transform 0.3s;
}

#login_signup_button_lg:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.Get_Started {
    background-color: #347273;
    color: white;
    border-radius: 10px;
    border-width: 0;
    padding: 10px;
    width: 150px;
}

.Get_Started:hover {
    background-color: #2b5a55;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Main Content Styles */
.content-text {
    margin-top: 100px;
}

.content-text h1 {
    font-family: "Playfair Display", serif;
    font-weight: bolder;
    font-size: 65px;
}

.content-text p {
    color: #71717a;
    font-size: 18px;
    margin-top: 15px;
}

.image {
    margin-top: 145px;
    border-radius: 25px;
}

/* Key Features Section */
.features-container {
    margin-top: 90px;
    margin-left: 20px;
}

.section-header {
    font-size: 20px;
    color: #347273;
}

.section-title {
    color: black;
    font-size: 45px;
    font-weight: 600;
}

.section-description {
    color: grey;
}

.feature-boxes {
    justify-content: center;
}

.feature-box {
    border-radius: 20px;
    margin: 35px;
    padding: 40px;
    text-align: center;
    border-width: 1px;
    border-color: #347273;
    border-style: solid;
}

.feature-icon {
    font-size: 25px;
    color: #347273;
}

/* About Us Section */
.about-us-section {
    margin-top: 100px;
    padding: 50px 0 50px 150px;
    background-color: whitesmoke;
}

.about-us-steps {
    margin-right: 100px;
}

.about-step {
    margin-right: 100px;
}
