.login-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.navItem_lg {
    text-decoration: none;
    position: relative;
    color:black;
}

.navItem_lg::after {
    content: ' ';
    position: absolute;
    background-color: black;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: -1px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navItem_lg:hover::after {
    transform: scaleX(1);
}

#login_signup_button_lg {
    color: black;
    font-family: "Roboto";
    height:40px;
    width:150px;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
    font-size: 13px;
    border: 1px solid black;
    transform: scaleX(1);
    transition: transform 0.3s;
}

#login_signup_button_lg:hover {
    transform: scaleX(1.1);
}

.Get_Started{
    background-color: #347273;
    color:white;
    border-radius:10px;
    border-width: 0;
    padding:10px;
    width:150px;
}

