/* Sidebar Container */
.sidebar {
  width: 70px;
  height: 100vh;
  background-color: rgb(39, 39, 42);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  position: fixed;
  margin-bottom: 20px;
}

/* Logo Section */
.sidebar__logo {
  margin-bottom: 20px;
}

/* Features Section */
.sidebar__features {
  width: 100%;
}

.sidebar__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 60px;
  margin: 10px auto;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar__button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.sidebar__icon {
  margin-bottom: 5px;
}

.sidebar__text {
  font-size: 10px;
  color: white;
}

/* User Profile */
.sidebar__profile {
  margin-top: auto; /* Pushes the profile div to the bottom */
  margin-bottom: 20px;
}

.sidebar__profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ccc;
  transition: transform 0.3s, box-shadow 0.3s;
}

.sidebar__profile img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
